<div>
	<ul>
     <% @users.each do |u| %>
       <li><%= u.name %> - <%= u.description %></li>
       <%= link_to("Edit user", edit_user_path(u.id)) %> - 
		   <%= link_to("Delete user", user_path(u.id), method: :delete, data: { confirm: 'Are you sure?'}) %>
     <% end %>
  </ul>
  <%= link_to("New user", new_user_path) %>
</div>