<div class="background">
	<div class = "container">
		<ul>
	     <% @users.each do |u| %>
	       <li class="list-group-item list-group-item-danger"><%= u.name %> - <%= u.description %>
	       <%= link_to("Edit user", edit_user_path(u.id)) %> -
			   <%= link_to("Delete user", user_path(u.id), method: :delete, data: { confirm: 'Are you sure?'}) %></li>
	     <% end %>
	  </ul>
	  <%= link_to("New user", new_user_path) %>
	</div>
</div>
