<div class = "container">
  <article>
    <h1>User's Profile</h1>
    <h3>Your photo: <%= @user.photo %></h3>
    <h3>Your name: <%= @user.name %></h3>
    <h3>Your quote: <%= @user.description %></h3>
    <%= link_to("Index", users_path) %>
    <%= link_to("Update", edit_user_path(@user.id)) %>
    <%= link_to("Remove", user_path, method: :delete, data: { confirm: 'Are you sure?'}) %>
  </article>
</div>