<div>
	<%= form_for [@user] do |f| %>
		<%= f.text_field :name, :autofocus => true, :placeholder => "Add your name"%>
		<%= f.text_field :email, :autofocus => true, :placeholder => "Your e-mail" %>
		<%= f.text_field :description, :autofocus => true, :placeholder => "Write your quote" %>
		<%= f.text_field :color, :autofocus => true, :placeholder => "Choose your status" %>
		<%= f.submit 'Submit'%>
	<% end %>
</div>
