<div>
	<%= form_for [@user] do |f| %>
		<%= f.text_field :name, :autofocus => true, :placeholder => "Add your name"%><br />
		<%= f.text_field :description, :autofocus => true, :placeholder => "Write your quote" %><br />
		<%= f.text_field :color, :autofocus => true, :placeholder => "Choose your status" %><br />
		<%= f.label "Set your privacy" %>
		<%= f.check_box :privacy %><br />
		<%= f.submit 'Submit'%>
	<% end %>
</div>
