<div>
  <article>
    <h1>User's Profile</h1>
    <h3>Your photo: <%= @user.photo %></h3>
    <h3>Your name: <%= @user.name %></h3>
    <h3>Your quote: <%= @user.description %></h3>
    <h3>Your color's choice: <%= @user.color %></h3>
    <%= link_to("Index", user_index_path(@user)) %>
    <%= link_to("Edit user", edit_user_path(@user)) %>
    <%= link_to("Delete user", user_index_path(@user.id), method: :delete, data: { confirm: 'Are you sure?'}) %>
  </article>
</div>