<!DOCTYPE html>
<html>
<head>
  <title>TukhoProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class ="container">
  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><%= link_to("Home", root_path)%></li>
      <li role="presentation"><%= link_to("All Tukhos", users_path)%></li>
      <li role="presentation"><%= link_to("Events", events_path) %></li>
      <li role="presentation"><%= link_to("New user", new_user_path)%></li>
      <% if current_user %>
        <div class=" navbar-collapse navbar-form navbar-left">
          <%= link_to("User profile", user_path(current_user.id))%>
          <%= link_to "Log out", session_path(current_user.id), method: :delete %>
        </div>
       <% else %>
        <div class=" navbar-collapse navbar-form navbar-left">
          <%= render "layouts/log_in" %>
        </div>
      <% end %>
    </ul>
  </nav>
 </div>
<%= yield %>
  <script type="text/javascript">
    var opts = {
      lines: 12, // The number of lines to draw
      angle: 0.15, // The length of each line
      lineWidth: 0.44, // The line thickness
      pointer: {
        length: 0.9, // The radius of the inner circle
        strokeWidth: 0.035, // The rotation offset
        color: '#000000' // Fill color
      },
      limitMax: 'false',   // If true, the pointer will not go past the end of the gauge
      percentColors: [[0.0, "#a9d70b" ],[0.49999, "#a9d70b" ],[0.50, "#f9c802"],[0.79999, "#f9c802"],[0.825, "#ff0000"], [1.0, "#ff0000"]],
      strokeColor: '#E0E0E0',   // to see which ones work best for you
      generateGradient: true
    };
    var target = document.getElementById('Gauge'); // your canvas element
    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
    gauge.maxValue = 100; // set max gauge value
    gauge.animationSpeed = 32; // set animation speed (32 is default value)
    gauge.set(50); // set actual maxValue
  </script>
</body>
</html>

