<!DOCTYPE html>
<html>
<head>
  <title>TukhoProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class ="container">
	<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
		<ul class="nav nav-pills">
		  <li role="presentation" class="active"><%= link_to("Home", root_path)%></li>
		  <li role="presentation"><%= link_to("All Tukhos", users_path)%></li>
		  <li role="presentation"><%= link_to("Events", events_path) %></li>
		  <li role="presentation"><%= link_to("New user", new_user_path)%></li>
			<div class=" navbar-collapse navbar-form navbar-left">
       <%= render "layouts/log_in" %>
    	</div>
    </ul>
	</nav>
 </div>
<%= yield %>

</body>
</html>

